.main_container {
	border: 1px solid blue;
	height: 900px;
	width: 700px;
	margin: auto;
}

.bttn_container {
	border: 1px solid;
	height: 100px;
	width: 600px;
	margin: auto;
	margin-top: 30px;
}


.bttn1 {
	border: 1px solid;
	border-radius: 2px;
	height: 80px;
	width: 220px;
    
	float: left;
	background-color: #e74c3c
}

.bttn2 {
	border: 1px solid;
	border-radius: 2px;
	height: 80px;
	width: 220px;
	
	float: right;
	background-color: #e74c3c
}

.bttn p{
    font-family: 'Raleway', sans-serif;
}



.top_row {
	border: 1px solid green;
	height: 200px;
	width: 600px;
	margin: auto;
	margin-top: 40px;
}

.mid_row {
	border: 1px solid green;
	height: 200px;
	width: 600px;
	margin: auto;
}

.bottm_row {
	border: 1px solid green;
	height: 200px;
	width: 600px;
	margin: auto;
}

.block {
	border: 2px solid red;
	border-radius: 10px;
	height: 193px;
	width: 193px;
	display: inline-block;
}




.active{
   background-color: #e74c3c;
}

.active1{
   background-color: #e74c3c;
}

