.main_container {
	border: 1px solid none;
	height: 900px;
	width: 700px;
	margin: auto;
}

.bttn_container {
	border: 1px solid none;
	height: 100px;
	width: 600px;
	margin: auto;
	margin-top: 30px;
}


.bttn1 {
	border: 1px solid none;
	border-radius: 10px;
	height: 80px;
	width: 220px;
    font-size: 25px;
    text-align: center;
	float: left;
	background-color: #ede8e4;
	/*#CC9966;*/
}

.bttn2 {
	border: 1px solid none;
	border-radius: 10px;
	height: 80px;
	width: 220px;
	font-size: 25px;
    text-align: center;
	float: right;
	background-color: #ede8e4;
}


#colors{
    font-family: 'Open Sans', sans-serif;
    color: black;
    margin-top: 20px;

}

#timer{
	margin-top: 25px;
}

.top_row {
	border: 1px solid none;
	height: 200px;
	width: 600px;
	margin: auto;
	margin-top: 40px;
}

.mid_row {
	border: 1px solid none;
	height: 200px;
	width: 600px;
	margin: auto;
}

.bottm_row {
	border: 1px solid none;
	height: 200px;
	width: 600px;
	margin: auto;
}

.block {
	border-radius: 10px;
	height: 193px;
	width: 193px;
	float: left;
	margin-right: 2px;
	margin-left: 2px;
	opacity: 1;
}

#block1 {
	background-color: #59ABE3;
}

#block2 {
	background-color: #CF000F;
}

#block3 {
	background-color: #FF6600;
}

#block4 {
	background-color: #00B16A;
}

#block5 {
	background-color: #F7CA18;
}

#block6 {
	background-color: #f86767;
	/*#22313F;*/
}

#block7 {
	background-color: #7ec9b1;
	/*#C8F7C5;*/
}

#block8 {
	background-color: #ABB7B7;
}

#block9 {
	background-color: #c091e6;
	/*#8E44AD;*/
}

.word {
	border: 1px solid none;
	text-align: center;
	font-size: 30px;
	font-family: 'Open Sans', sans-serif;
	margin-top: 50%;
	top: -30px;
	position: relative;
}

