.main_container {
	border: 1px solid none;
	height: 900px;
	width: 700px;
	margin: auto;
}

.bttn_container {
	border: 1px solid none;
	height: 100px;
	width: 600px;
	margin: auto;
	margin-top: 30px;
}


.bttn1 {
	border: 1px solid;
	border-radius: 10px;
	height: 80px;
	width: 220px;
    font-size: 30px;
    text-align: center;
	float: left;
	background-color:CC9966
}

.bttn2 {
	border: 1px solid;
	border-radius: 10px;
	height: 80px;
	width: 220px;
	font-family: 'Raleway', sans-serif;
	font-size: 25px;
    text-align: center;
	float: right;
	background-color: CC9966
}


#colors{
    font-family: 'Raleway', sans-serif;
    color: black;
    margin-top: 20px;

}

#timer{
	margin-top: 25px;
}

.top_row {
	border: 1px solid none;
	height: 200px;
	width: 600px;
	margin: auto;
	margin-top: 40px;
}

.mid_row {
	border: 1px solid none;
	height: 200px;
	width: 600px;
	margin: auto;
}

.bottm_row {
	border: 1px solid none;
	height: 200px;
	width: 600px;
	margin: auto;
}

.block {
	border-radius: 10px;
	height: 193px;
	width: 193px;
	float: left;
	margin-right: 2px;
	margin-left: 2px;
}

.sky_blue {
	background-color: #59ABE3;
}

.sky_blue:hover {
	background-color: #2980b9!important;
}

.red {
	background-color: #CF000F;
}

.red:hover {
	background-color: #980000!important;
}

.orange {
	background-color: #FF6600;
}

.orange:hover {
	background-color: #e67e22!important;
}

.teal {
	background-color: #00B16A;
}

.teal:hover {
	background-color: #2ecc71!important;
}

.yellow {
	background-color: #F7CA18;
}

.yellow:hover {
	background-color: #f39c12!important;
}

.midnight_blue {
	background-color: #22313F;
}

.midnight_blue:hover {
	background-color: #f39c12!important;
}

.maddang {
	background-color: #C8F7C5;
}

.maddang:hover {
	background-color: 99FF99!important;
}

.gray {
	background-color: #ABB7B7;
}

.gray:hover {
	background-color: #7f8c8d!important;
}

.purple {
	background-color: #8E44AD;
}

.purple {
	background-color: #9b59b6!important;
}

.word {
	text-align: center;
	font-size: 30px;
	font-family: "Comic Sans MS", cursive, sans-serif;
	margin-top: 50%;
	top: -30px;
	position: relative;
}

/*.active {
   background-color: #2980b9!important;
}

.active1 {
   background-color: #980000!important;
}

.active2 {
   background-color: #e67e22!important;
}


.active3 {
	background-color: #2ecc71!important;
}


.active4 {
	background-color: #f39c12!important;
}

.active5 {
	background-color: #34495e!important;
}

.active6 {
	background-color: 99FF99!important;
}

.active7 {
	background-color: #7f8c8d!important;
}

.active8 {
	background-color: #9b59b6!important;
}*/